/* main font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

/* pixel font */
@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans');

html {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
  overflow-x: hidden;
}

.main-content {
  padding-top: 1%;
  font-size: 15px;
}

#username {
  padding-top: 3%;
}

.navbar {
    background-color: black;
}

.navbar-brand {
  text-decoration: none;
}

.navbar-brand img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin-right: 10px;
}

.navbar-brand:hover {
  color: #3498db;
}

.navbar-nav .nav-link:hover {
  color: #3498db;
}


.navbar-nav .nav-link {
  font-size: 2rem;
  color: white;
} 

.navbar-nav .nav-link a:visited {
  font-size: 2rem;
  color: white;
} 


.navbar-brand {
  font-family: 'Pixelify Sans';
  font-size: 2.4rem;
  color: white;
}

.buttons {
    justify-content: center;
    text-align: center;
    margin-top: 2.2rem;
    margin-right: 15px;
    border-radius: 30px;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 10px 30px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #3498db;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
  
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #3498db;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #ffffff;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #000;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 30%;
  height: 100%;
  background: #3498db;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.2s;
}


@supports (filter: url("#goo")) {
  .blob-btn__blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
  }
}
  .blob-btn__blob:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
  }
  .blob-btn__blob:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
  }
  .blob-btn__blob:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
  }
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.7);
  }
  @supports (filter: url("#goo")) {
    .blob-btn:hover .blob-btn__blob {
      transform: translateZ(0) scale(1.4);
    }
  }
  .navbar-brand:hover {
      color: #3498db;
  }
  
  .navbar-nav .nav-link:hover {
      color: #3498db;
  }
  
  .navbar-nav .nav-link {
      font-size: 2rem;
      color: white;
  }
  
  .navbar-brand {
      font-family: 'Pixelify Sans';
      font-size: 2.4rem;
      color: white;
  }
  
  .main-title {
      font-size: 8rem;
      color: #3498db;
  }

  .btn-primary {
    background-color: #3498db;
    border: none;
}

.btn-custom {
    font-size: 3rem;
    padding: 2rem 2rem;
    border-radius: 1rem;
}

.btn-primary:hover {
    background-color: #2183b9;
}

.feature-icon {
    font-size: 3.6rem;
    color: #3498db;
}

.login-link {
    margin-right: 2rem;
}

.navbar-custom {
    background-color: black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
