/* main font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

/* pixel font */
@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans');

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    color: var(white);
    font-family: var("Quicksand");
}

h1 {
    font-family: 'Pixelify Sans', sans-serif;
}


footer {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 2rem;
        font-family: 'Pixelify Sans';
    }

    .nav-link {
        font-size: 1.6rem;
    }

    .main-title {
        font-size: 6rem;
        font-family: 'Pixelify Sans';
    }

    .hero-section {
        padding: 5rem 0;
    }

    .hero-section p {
        font-size: 1.6rem;
        margin-top: 1.6rem;
    }

    .btn-custom {
        font-size: 1.4rem;
        padding: 1.6rem 1.6rem;
    }

    .feature-icon {
        font-size: 3rem;
    }
}

/* main font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

/* pixel font */
@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans');

.navbar {
    background-color: black;
}

html {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

.navbar-brand img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin-right: 10px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: "Quicksand", sans-serif;
}

.buttons {
    justify-content: center;
    text-align: center;
    margin-top: 2.2rem;
    margin-right: 15px;
    border-radius: 30px;
}


.main-title {
    font-size: 8rem;
    color: #3498db;
}

.hero-section {
    padding: 7rem 0;
    text-align: center;
    background-color: black;
    height: 90vh;
}

.hero-section p {
    font-size: 20px;
    margin-top: 2rem;
    color: #6c757d;
}

.btn-primary {
    background-color: #3498db;
    border: none;
}

.btn-custom {
    font-size: 3rem;
    padding: 2rem 2rem;
    border-radius: 1rem;
}

.btn-primary:hover {
    background-color: #2183b9;
}

.feature-icon {
    font-size: 3.6rem;
    color: #3498db;
}

.login-link {
    margin-right: 2rem;
}

.navbar-custom {
    background-color: black;
}

.container {
    justify-content: end;
}

.hero-section .img-fluid {
    border-radius: 2.8rem;
    margin-top: -85px;
    margin-left: -5px;
}

.glow-on-hover {
    width: 200px;
    height: 65px;
    margin-top: 25px;
    border-radius: 12px;
    font-size: 20px;
    border-color: white;
    outline: none;
    color: #fff;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    border-color: white;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    border-radius: 10px;
    border-color: white;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}






.lighter-section {
  background-color: #152268; 
  color: #bcbcbc;
  padding: 50px 0; 
  text-align: center; 
  height:400px;
  height: 50vh;
  background-image: linear-gradient(to bottom, #000033, #000066);
}

h2{
  font-size: 30px;
  font-family: 'Pixelify Sans', sans-serif;
  margin-top: 10px;
}

.darker-section {
  background-color: #00030f; 
  color: #bcbcbc;
  padding: 50px 0; 
  height: 70vh;
  text-align: center; 
}

.hero-section p1{
  font-size: 25px;
  color: #bcbcbc;
  margin-top: 85px;
  
}

.fade-in {
  opacity: 0; 
  animation: fadeIn 2s ease-in-out 1s forwards; 
  position:relative;
  display: inline-block;
  text-shadow: 0 0 10px rgb(255, 255, 255); 
}



@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.rounded-card {
  background-color: #dfd9ff; 
  padding: 100px 0;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 40px;
}

.rounded-card:hover{
  box-shadow: 0 0 0px #aedbff;
}

.darker-section .col-lg-3,
.darker-section .col-lg-4 {
  margin-left: 27px;
  margin-right: 27px;
}

h3{
  font-size: 30px;
  font-family: 'Pixelify Sans', sans-serif;
  margin-top: 10px;
  color:white;
}

h4{
  font-family: 'Pixelify Sans';
  font-size: 23px;
  color: #180024;
  margin-bottom: 6px;
}

h5{
  font-size: 20px;
  font-weight: bold;
  color: #180024;
}

p4{
  font-size: 15px;
  color: #180024;
}

p2{
  color: #2b0140;
  font-size:15px;
}

.diamond{
  width: 24px; 
  height: 24px;
  margin-top: -2px; 
}

.money{
  text-decoration: underline;
  margin-left: -4px;
}

.darker{
  background-color: #bcb0ff; 
}

.darkest{
  background-color: #927ffc; 
}