.navbar {
    /*position: absolute;*/
    width: 100%;
    justify-content: right;
    background: beige;
}
.container {
    justify-content: end;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background:black;
}
.nav {
    width: 100%;
    height: 45px;
    position: fixed;
    line-height: 100px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
}

.nav div.logo a:hover {
    /*color: #00E676;*/
}

.nav div.main_list {
    height: 45px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 45px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 45px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 45px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: blue;
}
.myH2 {
    color:blue;
    margin:auto;
    left: 50%;
	text-align:center;
	font-size: 4rem;
}
.myP {
    color: white;
	text-align: left;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}

